<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FirstTest tests">
    <test name="firsts/first test">
        <packages>
<!--            <package name="com.stormnet.tests.lesson5.*"></package>-->
            <package name="com.stormnet.tests.mainTest.*"></package>
        </packages>
    </test>
</suite>